<form 
class="branch-page"
[formGroup]="branchForm">



<!-- HEADER -->

<div class="inscan-header">


<div>

<h1>
📦 Branch Inscan Center
</h1>


<p>
Receive and track incoming courier shipments at branch
</p>


</div>


</div>






<!-- SUMMARY -->

<div class="inscan-summary">


<div class="summary-box">

<h4>
Total Inscan
</h4>

<h2>
{{totalInscan}}
</h2>

</div>




<div class="summary-box">

<h4>
Total Cartons
</h4>

<h2>
{{totalCartons}}
</h2>

</div>





<div class="summary-box">

<h4>
Unique AWB
</h4>

<h2>
{{awbCount}}
</h2>

</div>



</div>









<!-- MAIN SECTION -->


<div class="inscan-layout">







<!-- RECEIVING PANEL -->


<div class="scan-panel">


<h2>
Receive Shipment
</h2>




<div
*ngIf="message"
class="message"
[ngClass]="messageType">

{{message}}

</div>






<label>
Inscan Date
</label>


<input

type="datetime-local"

formControlName="inscanDate">






<label>
Scan Type
</label>



<div class="radio-section">


<label>

<input

type="radio"

value="AWB"

formControlName="type">

AWB No

</label>





<label>

<input

type="radio"

value="Manifest"

formControlName="type">

Manifest No

</label>



</div>









<label>
AWB / Manifest Number
</label>


<input

type="text"

placeholder="Enter Shipment Number"

formControlName="awbNo">








<label>
Carton Quantity
</label>


<input

type="number"

placeholder="Enter Carton Count"

formControlName="cartonNo">








<label>
Receiving Reason
</label>


<input

type="text"

placeholder="Enter Reason"

formControlName="reason">








<div class="buttons">


<button

type="button"

class="save"

(click)="save()">

Receive

</button>





<button

type="button"

class="update"

(click)="update()">

Update

</button>





<button

type="button"

class="reset"

(click)="reset()">

Clear

</button>



</div>




</div>











<!-- RECORD PANEL -->


<div class="record-panel">



<div class="record-header">


<h2>
Incoming Shipment Records
</h2>



<input

type="text"

placeholder="🔍 Search AWB / Reason"

[(ngModel)]="searchText"

[ngModelOptions]="{standalone:true}"

(keyup)="search()">



</div>








<table>


<thead>


<tr>


<th>
No
</th>


<th>
Type
</th>


<th>
AWB Number
</th>


<th>
Cartons
</th>


<th>
Reason
</th>


<th>
Date
</th>


<th>
Action
</th>


</tr>


</thead>







<tbody>



<tr
*ngIf="filteredData.length==0">


<td colspan="7">


📦 No Shipment Records Found


</td>


</tr>








<tr

*ngFor="let item of filteredData; let i=index">



<td>

{{i+1}}

</td>





<td>

<span class="type-badge">

{{item.scan_type}}

</span>

</td>





<td>

📦 {{item.awb_no}}

</td>





<td>

{{item.carton_no}}

</td>





<td>

{{item.reason}}

</td>





<td>

{{item.inscan_date}}

</td>






<td class="action-buttons">


<button

type="button"

class="view"

(click)="view(item)">

View

</button>





<button

type="button"

class="edit"

(click)="edit(i)">

Edit

</button>





<button

type="button"

class="delete"

(click)="delete(i)">

Delete

</button>


</td>




</tr>



</tbody>



</table>







<div class="record-footer">


Showing

<strong>
{{filteredData.length}}
</strong>

incoming shipments


</div>




</div>






</div>



</form>