<!-- HEADER -->

<h2>
🚚 Vehicle Management
</h2>


<!-- SUMMARY CARDS -->

<div class="summary-container">


<div class="summary-card">

<h4>Total Vehicles</h4>

<h2>{{totalVehicles}}</h2>

</div>



<div class="summary-card">

<h4>Available</h4>

<h2>{{availableVehicles}}</h2>

</div>



<div class="summary-card">

<h4>On Route</h4>

<h2>{{routeVehicles}}</h2>

</div>



<div class="summary-card">

<h4>Maintenance</h4>

<h2>{{maintenanceVehicles}}</h2>

</div>


</div>





<form
class="vehicle-container"
[formGroup]="vehicleForm">





<!-- LEFT FORM -->


<div class="form-card">



<div class="page-header">

<h2>🚚 Vehicle Details</h2>

<p>
Manage courier vehicles, drivers and route details.
</p>

</div>



<div
*ngIf="message"
class="message"
[ngClass]="messageType">

{{message}}

</div>





<label>Vehicle Number</label>

<input

type="text"

placeholder="Enter Vehicle Number"

formControlName="vehicleNo">






<label>Vehicle Type</label>


<select formControlName="vehicleType">


<option value="">
Select Vehicle Type
</option>


<option>
Bike
</option>


<option>
Van
</option>


<option>
Truck
</option>


<option>
Mini Truck
</option>


</select>







<label>Driver Name</label>


<input

type="text"

placeholder="Enter Driver Name"

formControlName="driverName">







<label>Driver Mobile</label>


<input

type="text"

placeholder="Enter Mobile Number"

formControlName="driverMobile">







<label>Route</label>


<input

type="text"

placeholder="Enter Route"

formControlName="route">







<label>Status</label>


<select formControlName="status">


<option>
Available
</option>


<option>
On Route
</option>


<option>
Maintenance
</option>


</select>








<div class="buttons">


<button

type="button"

class="save"

(click)="save()">

Save

</button>





<button

type="button"

class="update"

(click)="update()">

Update

</button>





<button

type="button"

class="reset"

(click)="reset()">

Reset

</button>



</div>



</div>









<!-- RIGHT TABLE -->


<div class="table-card">



<h2>
Vehicle List
</h2>





<div class="table-toolbar">


<input

type="text"

placeholder="🔍 Search Vehicle / Driver / Route"

[(ngModel)]="searchText"

[ngModelOptions]="{standalone:true}"

(keyup)="search()">





<h4>
Total Vehicles :
{{filteredData.length}}
</h4>



</div>








<table>


<thead>

<tr>

<th>S.No</th>

<th>Vehicle</th>

<th>Type</th>

<th>Driver</th>

<th>Mobile</th>

<th>Route</th>

<th>Status</th>

<th>Action</th>


</tr>


</thead>







<tbody>



<tr *ngIf="filteredData.length==0">

<td colspan="8">

No Vehicles Found

</td>

</tr>





<tr

*ngFor="let item of filteredData; let i=index">


<td>

{{item.sno}}

</td>




<td>

🚚 {{item.vehicleNo}}

</td>




<td>

{{item.vehicleType}}

</td>




<td>

👤 {{item.driverName}}

</td>




<td>

{{item.driverMobile}}

</td>




<td>

📍 {{item.route}}

</td>





<td>


<span

[class.available]="item.status=='Available'"

[class.route]="item.status=='On Route'"

[class.maintenance]="item.status=='Maintenance'">


{{item.status}}


</span>


</td>








<td class="action-buttons">


<button

type="button"

class="view"

(click)="view(item)">

View

</button>




<button

type="button"

class="update"

(click)="edit(i)">

Edit

</button>





<button

type="button"

class="delete"

(click)="delete(i)">

Delete

</button>



</td>



</tr>




</tbody>



</table>







<div class="table-footer">


Showing {{filteredData.length}} Vehicles


</div>





</div>





</form>