<div class="sidebar">

  <div class="logo">

    <br>

    Courier<br>

    Management

  </div>


  <ul>


    <!-- Dashboard -->
    <li
      routerLink="/app/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      Dashboard

    </li>



  



    <!-- Branch Inscan -->
    <li
      routerLink="/app/branch-inscan"
      routerLinkActive="active">

      Branch Inscan

    </li>



    <!-- Documents -->
    <li
      routerLink="/app/documents"
      routerLinkActive="active">

      Documents

    </li>



    <!-- Bag -->
    <li
      routerLink="/app/bag"
      routerLinkActive="active">

      Bag

    </li>



    <!-- Vehicle -->
    <li
      routerLink="/app/vehicle"
      routerLinkActive="active">

      Vehicle

    </li>



 



    <!-- Manifest -->
    <li
      routerLink="/app/manifest"
      routerLinkActive="active">

      Manifest

    </li>



    <!-- Tracking -->
    <li
      routerLink="/app/tracking"
      routerLinkActive="active">

      Tracking

    </li>



    <!-- Delivery -->
    <li
      routerLink="/app/delivery"
      routerLinkActive="active">

      Delivery

    </li>



    <!-- Customer -->
    <li
      routerLink="/app/customer"
      routerLinkActive="active">

      Customer

    </li>



    <!-- Payment -->
    <li
      routerLink="/app/payment"
      routerLinkActive="active">

      Payment

    </li>



 



 



    <!-- Employee -->
    <li
      routerLink="/app/employee"
      routerLinkActive="active">

      Employee

    </li>



  </ul>

</div>


